THUNES_API_KEY=
THUNES_API_SECRET=
THUNES_BASE_URL=https://api-mt.pre.thunes.com
THUNES_PAYER_AIRTEL=
THUNES_PAYER_MPESA=
SUMSUB_APP_TOKEN=
SUMSUB_SECRET_KEY=
DATABASE_URL=postgresql://user:pass@host:5432/dbname
